@charset "utf-8";
/*
Content Page, HTML Project
Name: Michaela Fuzaylov
Name: Gladys Benedit
Date: 1/4/24
*/

html {
    background: black;
}

header  > div{
   height: 100vh;
   width: 100vw;
   font-size: 250px;
   font-family: "Arial Black", serif;
   padding-top: 250px;
   margin: 0;
   background-color: black;
   text-align: center;
   color: red;
}

article h1 {
   font-size: 54px;
   margin-bottom: 21px;
   color: white;
   text-align: center;
}

body > header img{
   float: left;
   width: 150px;
   height: 150px;
}

body > header nav li{
   display: inline;
   float: left;
   vertical-align: top;
   padding: 20px;
   font-size: xx-large;
}

body > header nav {
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
}

li a{
   color: red;
}

li a:hover, li a:visited {
   color: rgb(255, 153, 255);
}

body > article {
   color: red;
   height: 100vh;
   width: 100vw;
   font-family: "Arial Black", serif;
   padding-top: 120px;
   margin: 0;
   background-color: black;
   text-align: center;
}
body > article > #time {
   font-size: 154px;
}
 body > form{
    color: red;
    height: 100vh;
    width: 100vw;
    font-family: "Arial Black", serif;
    padding-top: 150px;
    margin: 0;
    background-color: black;
 }

textarea{
   color: red;
   background-color: black;
   margin-top: 10px;
   height: 100px;
   width: 95%;
 }

img.content {
   border-radius: 50% 20% / 10% 40%;
   margin: 0 15px
}

article.thankyou {
   padding-top: 180px;
}

h1.thankyou, p.thankyou {
   text-align: center;
   margin: auto;
   width: 60%;
   border: 3px solid aquamarine;
   padding: 15px 10px;
}

table {
   background: black;
   border: 10px outset red;
   font-size: 1em;
   width: 100%;
   border-collapse: collapse;
}

table th, table td{
   border: 2px solid red;
   padding: 1.5px;
   vertical-align: center;
}

footer {
   color: antiquewhite;
   padding: 15px 0;
}