@charset "utf-8";

html {
    background: black;
}

header  > div{
   height: 100vh;
   width: 100vw;
   font-size: 250px;
   font-family: "Arial Black";
   padding-top: 250px;
   margin: 0px;
   background-color: black;
   text-align: center;
   color: red;
}

body > header img{
   float: left;
   width: 150px;
   height: 150px;
}

body > header nav li{
   display: inline;
   float: left;
   vertical-align: top;
   padding: 20px;
   font-size: xx-large;
}

body > header nav {
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
}

li a{
   color: red;
}

li a:hover, li a:visited {
   color: rgb(255, 153, 255);
}

body > article {
   color: red;
   height: 100vh;
   width: 100vw;
   font-family: "Arial Black";
   padding-top: 250px;
   margin: 0px;
   background-color: black;
   text-align: center;
   color: red;
}
