/*
 Content Page, HTML Project

 Name: Michaela Fuzaylov
 Date: 1/4/24
 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 21px;
    background-color: Black;
    color: white;
}
h1 {
    font-size: 54px;
    margin-bottom: 21px;
    color: white;
    text-align: center;
}
p {
    font-size: 18px;
    color: White;
    margin: 15px;
}
img {
    border-radius: 50% 20% / 10% 40%;
    margin: 0 15px
}
